* {
    margin: 0;
    font-family: Calibri, serif;
}

body {
    background: linear-gradient(lightblue 50%, white);
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 2vh;
}

.welcome {
    text-align: center;
}

p {
    text-align: center;
}